body {
    width: 480px;
    margin: 0 auto;
}
div {
    float: left;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
}
.black {
    background-color: #A88867;
}
.wrapper {
    width: 460px;
    height: 450px;
    background-color: #3F3D3A;
}
.white {
    background-color: #E9D8B6;
}
.margin-top {
    margin-top: 5px;
}
