body {
    width: 480px;
    margin: 0 auto;
}
div {
    float: left;
    border-right: solid;
    border-bottom: solid;
    height: 50px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
}
.left-border {
    border-left: solid;
}
.margin-left {
    margin-left: 3px;
}
.border-top {
    border-top: solid;
}
.black {
    background-color: black;
    color: white;
    border-color: black;
}
.border-none {
    border: none;
}